.accordion__title {
  --icon-clickable-area: 32px;
  --icon-size: 16px;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    right: calc(var(--icon-size) / 2);
    top: 50%;

    width: var(--icon-clickable-area);
    height: var(--icon-clickable-area);

    background-image: url("#{$img}/accordion/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--icon-size) var(--icon-size);

    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.accordion--closed .accordion__title::before {
  background-image: url("#{$img}/accordion/plus.svg");
}

.no-js .accordion__title::before {
  cursor: initial;

  display: none;
}

.accordion__button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;

  background: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.accordion__button.focus-visible,
.accordion__button:focus-visible {
  @include focus(-3px);
}

.accordion__content-wrapper {
  overflow: hidden;
}

.accordion__content {
  transition-property: margin-top;
  transition-duration: $transition-duration;
  transition-timing-function: linear;
}
