.write-us {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-top: 20px;
  padding-bottom: 10px;

  color: $color-white;

  background-color: $color-blue;

  &--index {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @media (min-width: $smartphone-width) {
    padding-left: $smartphone-padding;
    padding-right: $smartphone-padding;
    padding-top: 35px;
    padding-bottom: 25px;

    &--index {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    &--index {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }
  }

  @media (min-width: $notebook-width) {
    &--index {
      padding-left: $notebook-padding;
      padding-right: $notebook-padding;
      padding-top: 95px;
      padding-bottom: 95px;
    }
  }

  @media (min-width: $desktop-width) {
    &--index {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
    }
  }
}

.write-us__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 28px;
  line-height: 1.4;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $notebook-width) {
    font-size: 36px;
  }
}

.write-us__subtitle {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-family: $font-pt-mono;
  font-size: 16px;
  line-height: 1.375;
}

.write-us--index .write-us__subtitle {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.write-us--index .write-us__form {
  @media (min-width: $smartphone-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }
}

.write-us__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.write-us--index .write-us__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.write-us--index .write-us__name {
  @media (min-width: $smartphone-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.write-us--index write-us__phone {
  @media (min-width: $smartphone-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.write-us--index .write-is__message {
  @media (min-width: $smartphone-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}

.write-us--index .write-us__send {
  @media (min-width: $smartphone-width) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
}

.write-us--index .write-us__privacy {
  @media (min-width: $smartphone-width) {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
  }
}

.write-is__field {
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  resize: none;

  font-family: $font-pt-mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: $color-white;

  background-color: rgba($color-white, 0.1);

  transition-property: background-color;
  transition-duration: $transition-duration;

  &:hover {
    background-color: darken($color-blue, 5);

    &::placeholder {
      opacity: 0.7;
    }
  }

  &:focus {
    outline: none;
    background-color: darken($color-blue, 15);

    &::placeholder {
      opacity: 0.8;
    }
  }

  &:disabled {
    background-color: rgba($color-white, 0.1);
    opacity: 0.5;
    cursor: default;

    &::placeholder {
      opacity: 0.6;
    }
  }
}

.write-is__message-field {
  height: 110px;
}

.write-us__send-button {
  width: 100%;
  min-height: 46px;
}

.write-us__privacy-label {
  position: relative;

  display: block;
  padding-left: 43px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: $font-pt-mono;
  font-size: 14px;
  line-height: 1.14;
  color: $color-white;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: $transition-duration;

  &::before {
    content: "";

    position: absolute;
    left: 10px;
    top: 50%;

    width: 16px;
    height: 16px;
    border-width: 1px;
    border-color: $color-white;
    border-style: solid;

    transform: translateY(-50%);
  }

  &::after {
    content: "";

    position: absolute;
    left: 10px;
    top: 50%;

    display: none;
    width: 16px;
    height: 16px;

    background-image: url("#{$img}/write-us/check-mark.svg");
    background-repeat: no-repeat;
    background-size: 8px 6px;
    background-position: center;

    transform: translateY(-50%);
  }

  &:hover {
    background-color: darken($color-blue, 4);
  }

  &:active {
    background-color: darken($color-blue, 8);
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.write-us__privacy-checkbox:checked + .write-us__privacy-label::after {
  display: block;
}

.write-us__privacy-checkbox:disabled + .write-us__privacy-label {
  background-color: transparent;
  filter: grayscale(1);
  opacity: 0.5;
  cursor: default;
}

.write-us__privacy-checkbox.focus-visible + .write-us__privacy-label,
.write-us__privacy-checkbox:focus-visible + .write-us__privacy-label,
.no-js .write-us__privacy-checkbox:focus + .write-us__privacy-label {
  @include focus();
}
