.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: $mobile-width;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: $font-roboto-condensed;
  font-size: 13px;
  font-weight: 400;
  overflow-wrap: break-word;

  background-color: $color-white;

  &--not-found {
    background-color: $color-cyan;
  }
}

.page__header {
  position: relative;
  z-index: 1;

  flex-shrink: 0;
  width: 100%;
  min-height: var(--header-height);
}

.page__main {
  flex-shrink: 0;
}

.page__promo {
  position: relative;
  top: calc(var(--header-height) * -1);

  margin-bottom: calc(var(--header-height) * -1);
}

.page__wrapper {
  --triangle-rounded-width: 550px;
  --triangle-rounded-heigth: 476px;

  position: relative;

  padding-bottom: 60px;
  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    left: calc(50% + 180px);
    top: calc(50% + 150px);
    z-index: -1;

    height: var(--triangle-rounded-width);
    width: var(--triangle-rounded-heigth);

    background-image: url("#{$img}/background/triangle-rounded.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transform: translate(-50%, -50%);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;

    &::before {
      left: calc(50% + 270px);
      top: calc(50% - 50px);
    }
  }

  @media (min-width: $notebook-width) {
    padding-bottom: 105px;

    &::before {
      left: calc(50% + 150px);
      top: calc(50% - 120px);
    }

    &::after {
      content: "";

      position: absolute;
      left: calc(50% - 900px);
      top: calc(50% + 210px);
      z-index: -1;

      height: var(--triangle-rounded-width);
      width: var(--triangle-rounded-heigth);

      background-image: url("#{$img}/background/triangle-rounded.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

.page__features {
  margin-bottom: 65px;
  padding-top: 37px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (min-width: $notebook-width) {
    --triangle-width: 226px;
    --triangle-heigth: 258px;

    margin-bottom: 110px;
    padding-top: 109px;

    &::before {
      content: "";

      position: absolute;
      left: calc(50% + 780px);
      bottom: -100px;
      z-index: -1;

      height: var(--triangle-width);
      width: var(--triangle-heigth);

      background-image: url("#{$img}/background/triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      transform: translate(-50%, -50%) rotate(180deg);
    }

    &::after {
      content: "";

      position: absolute;
      left: calc(50% - 620px);
      top: 150px;
      z-index: -1;

      height: var(--triangle-width);
      width: var(--triangle-heigth);

      background-image: url("#{$img}/background/triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      transform: translate(-50%, -50%);
    }
  }
}

.page__footer {
  flex-shrink: 0;
  margin-top: auto;
}

.page__write-us-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  overflow: hidden;

  background-color: $color-blue;

  @media (min-width: $notebook-width) {
    &::before {
      --triangle-width: 280px;
      --triangle-heigth: 320px;

      content: "";

      position: absolute;
      left: calc(50% + 930px);
      top: calc(50% + 140px);
      z-index: 1;

      height: var(--triangle-width);
      width: var(--triangle-heigth);

      background-image: url("#{$img}/background/triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.4;

      transform: translate(-50%, -50%) rotate(180deg);
    }

    &::after {
      --triangle-width: 226px;
      --triangle-heigth: 258px;

      content: "";

      position: absolute;
      left: calc(50% + 800px);
      top: calc(50% - 120px);
      z-index: 1;

      height: var(--triangle-width);
      width: var(--triangle-heigth);

      background-image: url("#{$img}/background/triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.4;

      transform: translate(-50%, -50%);
    }
  }
}

.page__write-us {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: $desktop-width;

  background-color: transparent;

  @media (min-width: $notebook-width) {
    --airplane-width: 511px;
    --airplane-heigth: 288px;
    --triangle-width: 602px;
    --triangle-heigth: 480px;

    padding-left: 52%;

    &::before {
      content: "";

      position: absolute;
      left: calc(50% - 300px);
      top: calc(50% - 30px);
      z-index: 2;

      width: calc(var(--airplane-width) - 1px); // Фикс размытия
      height: var(--airplane-heigth);

      background-image: url("#{$img}/write-us/airplane.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";

      position: absolute;
      left: calc(50% - 400px);
      top: calc(50% - 20px);
      z-index: 1;

      width: var(--triangle-width);
      height: var(--triangle-heigth);

      background-image: url("#{$img}/background/triangles.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 660px;

    &::before {
      left: calc(50% - 350px);
      top: calc(50% - 10px);
    }

    &::after {
      left: calc(50% - 400px);
      top: calc(50% + 10px);
    }
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    &::before {
      background-image: url("#{$img}/write-us/airplane@2x.png");
    }
  }
}
